# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
env/
ENV/

# Git
.git/
.gitignore

# CI/CD
.github/
pytest-report.xml
tests/

# IDE and system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docs & logs
*.md
*.log
