apiVersion: v1
kind: Service
metadata:
  name: tictactoe-service
  labels:
    app: tictactoe
spec:
  type: LoadBalancer
  selector:
    app: tictactoe
  ports:
    - protocol: TCP
      port: 5050
      targetPort: 5050