name: CI/CD Pipeline


permissions:
  contents: read
  security-events: write


on:
  push: 
    branches:
      - main
      paths-ignore:
        - 'kubernetes/deployment.yml'
        pull_request:
    branches:
      - main

jobs:
    test:
      name: Unit Testing
      runs-on: ubuntu-latest
        steps:
            - name: Checkout code
            uses: actions/checkout@v4
            with:
                fetch-depth: 0
    
            - name: Set up Python
            uses: actions/setup-python@5
            with:
                python-version: '3.10'

            name: Set PYTHONPATH
            run: echo "PYTHONPATH=$(pwd)" >> $GITHUB_ENV
    
            - name: Install dependencies
            run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
    
            - name: Run tests
            run: |
                pytest tests/ -v --maxfail=1 --disable-warnings --junitxml=pytest-report.xml


            name: Set up Java 17 for SonarQube 
            uses: actions/setup-java@v3
            with:
                java-version: '17'
            distribution: 'temurin'

    
    